@use "../global/" as *;

.u-hide {
  display: none;
}

.u-hide--pc {

  @include mq(xl){
    display: none;
  }
}

.u-show--sp {
  display: block;

  @include mq(s) {
    display: none;
  }
}

.u-hide--m {
  display: block;

  @include mq(m) {
    display: none;
  }
}

.u-show--m {
  display: none;

  @include mq(m) {
    display: inline;
  }
}

.u-show--tab {
  display: none;

  @include mq(m) {
    display: block;
  }
}

.u-show--l {
  display: none;

  @include mq(l) {
    display: block;
  }
}

.u-hide--sp {
  display: none;

  @include mq(s) {
    display: block;
  }
}