/*!
 * ress.css • v2.0.4
 * MIT License
 * github.com/filipelinhares/ress
 */

/* # =================================================================
   # Global selectors
   # ================================================================= */

html {
	-webkit-text-size-adjust: 100%;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	box-sizing: border-box;
	tab-size: 4; /* Prevent adjustments of font size after orientation changes in iOS */
	word-break: normal;
}

*,
::before,
::after {
	background-repeat: no-repeat; /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
	box-sizing: inherit;
}

::before,
::after {
	text-decoration: inherit; /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
	vertical-align: inherit;
}

* { /* Reset `padding` and `margin` of all elements */
	margin: 0;
	padding: 0;
}

/* # =================================================================
     # General elements
     # ================================================================= */

hr { /* Show the overflow in Edge and IE */
	height: 0;
	overflow: visible; /* Add the correct box sizing in Firefox */
}

details,
main {
	display: block; /* Render the `main` element consistently in IE. */
}

summary {
	display: list-item; /* Add the correct display in all browsers */
}

small {
	font-size: 80%; /* Set font-size to 80% in `small` elements */
}

[hidden] {
	display: none; /* Add the correct display in IE */
}

abbr[title] {
	-webkit-text-decoration: underline dotted;
	border-bottom: none; /* Remove the bottom border in Chrome 57 */ /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
	text-decoration: underline;
	text-decoration: underline dotted;
}

a { /* Remove the gray background on active links in IE 10 */
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	background-color: transparent;
	cursor: pointer;
}

a:active,
a:hover {
	outline-width: 0; /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace; /* Specify the font family of code elements */
}

pre {
	font-size: 1em; /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
	font-weight: bolder; /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* # =================================================================
     # Forms
     # ================================================================= */

input {
	border-radius: 0;
}

/* Replace pointer cursor in disabled elements */

[disabled] {
	cursor: default;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
	height: auto; /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type=search] {
	-webkit-appearance: textfield; /* Correct the odd appearance in Chrome and Safari */
	outline-offset: -2px; /* Correct the outline style in Safari */
}

[type=search]::-webkit-search-decoration {
	-webkit-appearance: none; /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
	overflow: auto; /* Internet Explorer 11+ */
	resize: vertical; /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
	font: inherit; /* Specify font inheritance of form elements */
}

optgroup {
	font-weight: bold; /* Restore the font weight unset by the previous rule */
}

button {
	overflow: visible; /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
	text-transform: none; /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */

button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
	color: inherit;
	cursor: pointer;
}

/* Remove inner padding and border in Firefox 4+ */

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/* Replace focus style removed in the border reset above */

button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
	outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
	-webkit-appearance: button; /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */

button,
input,
select,
textarea {
	background-color: transparent;
	border-style: none;
}

/* Style select like a standard input */

select {
	-moz-appearance: none; /* Firefox 36+ */
	-webkit-appearance: none; /* Chrome 41+ */
}

select::-ms-expand {
	display: none; /* Internet Explorer 11+ */
}

select::-ms-value {
	color: currentColor; /* Internet Explorer 11+ */
}

legend {
	border: 0; /* Correct `color` not being inherited in IE 8/9/10/11 */
	color: inherit; /* Correct the color inheritance from `fieldset` elements in IE */
	display: table; /* Correct the text wrapping in Edge and IE */
	max-width: 100%; /* Correct the text wrapping in Edge and IE */
	max-width: 100%; /* Correct the text wrapping in Edge and IE */
	white-space: normal; /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button { /* Correct the inability to style clickable types in iOS and Safari */
	-webkit-appearance: button;
	color: inherit;
	font: inherit; /* Change font properties to `inherit` in Chrome and Safari */
}

/* # =================================================================
     # Specify media element style
     # ================================================================= */

img {
	border-style: none;
	height: auto; /* Remove border when inside `a` element in IE 8/9/10 */
	max-width: 100%;
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */

progress {
	vertical-align: baseline;
}

svg:not([fill]) {
	fill: currentColor;
}

/* # =================================================================
     # Accessibility
     # ================================================================= */

/* Hide content from screens but not screenreaders */

/* Specify the progress cursor of updating elements */

[aria-busy=true] {
	cursor: progress;
}

/* Specify the pointer cursor of trigger elements */

[aria-controls] {
	cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */

[aria-disabled] {
	cursor: default;
}

ul,
ol {
	list-style: none;
}

img {
	vertical-align: bottom;
}

body {
	color: #337AB7;
	font-family: "Comfortaa", "游ゴシック", YuGothic, "Noto Sans JP", Arial, "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Droid Sans", sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

.l-header {
	background: #fff;
	position: relative;
	width: 100%;
}

.l-header__title {
	color: #fff;
	font-size: 1.5rem;
}

.l-inner {
	padding-inline: 20px;
	width: min(100%, 1040px);
}

.l-profile {
	margin-top: 50px;
}

.l-works {
	margin-top: 95px;
}

.l-check {
	margin-top: 92px;
}

.l-contact {
	margin-top: 90px;
}

.l-lower-works-contents {
	margin-top: 50px;
}

.l-lower-contact {
	margin-top: 50px;
}

.c-detail-button {
	font-size: 20px;
	font-size: 1.25rem;
	position: relative;
}

.c-detail-button::after {
	background-color: #337AB7;
	bottom: 0;
	content: "";
	height: 1px;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	transition: height 0.3s linear 0s;
	width: 100%;
}

.c-detail-button:hover::after {
	height: 3px;
}

.c-section-title {
	font-size: 24px;
	font-size: 1.5rem;
	font-weight: 900;
	letter-spacing: -0.04em;
	line-height: 2;
	text-align: center;
}

.c-deco__top {
	height: 13.8666666667vw;
	position: relative;
}

.c-deco__top::before {
	background: url(../img/deco-section-top.png) no-repeat;
	background-position: top center;
	background-size: cover;
	content: "";
	height: inherit;
	left: 0;
	position: absolute;
	right: 0;
	top: 0%;
	width: 100%;
}

.c-deco__bottom {
	height: 10.3472222222vw;
	position: relative;
}

.c-deco__bottom::before {
	background: url(../img/deco-section-bottom.png) no-repeat;
	background-position: top center;
	background-size: cover;
	content: "";
	height: inherit;
	left: 0;
	position: absolute;
	right: 0;
	top: 0%;
	width: 100%;
}

.p-header-nav {
	background-color: #F9FCFF;
	height: -moz-fit-content;
	height: fit-content;
	left: 50%;
	opacity: 0;
	padding-block: 50px;
	position: fixed;
	top: -40%;
	transform: translateX(-50%);
	transition: top 0.3s linear, opacity 0.3s linear, visibility 0.3s linear;
	visibility: hidden;
	width: 100%;
	z-index: 40;
}

.add-active .p-header-nav {
	opacity: 1;
	top: 0;
	visibility: visible;
}

.p-header-nav__inner {
	align-items: center;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	width: inherit;
}

.p-header-nav__list {
	text-align: center;
}

.p-header-nav__item + .p-header-nav__item {
	margin-top: 36px;
}

.p-header-nav__link {
	font-size: 14px;
	font-size: 0.875rem;
	white-space: nowrap;
}

.p-header-nav__link--eg {
	display: block;
	font-size: 24px;
	font-size: 1.5rem;
	font-weight: 700;
	letter-spacing: -0.04em;
	line-height: 1.5;
	position: relative;
	transition: color 0.3s linear 0s, text-shadow 0.3s linear 0s, opacity 0.3s linear 0s;
}

.p-header-nav__link--eg::after {
	background: #337AB7;
	bottom: 0;
	content: "";
	height: 2px;
	left: 50%;
	position: absolute;
	transform: translateX(-50%) scale(0, 1);
	transform-origin: left top;
	transition: width 0.3s linear 0s, transform 0.3s linear 0s;
	width: calc(100% + 2rem);
}

.p-header-nav__link:hover .p-header-nav__link--eg::after {
	transform: translateX(-50%) scale(1, 1);
}

.p-header-nav__link:hover .p-header-nav__link--eg {
	color: #fff;
	text-shadow: 1px 1px 0 #337AB7, -1px -1px 0 #337AB7, -1px 1px 0 #337AB7, 1px -1px 0 #337AB7, 1px 0 0 #337AB7, -1px 0 0 #337AB7, 0 1px 0 #337AB7, 0 -1px 0 #337AB7;
}

.p-header-nav__img {
	width: -moz-fit-content;
	width: fit-content;
}

.p-header-burger {
	background: rgba(255, 255, 255, 0.7);
	border: none;
	cursor: pointer;
	display: block;
	height: 21px;
	position: fixed;
	right: 16px;
	top: 20px;
	transition: right 0.3s linear;
	width: 32px;
	z-index: 41;
}

.p-header-burger__line {
	background-color: #33C0FF;
	display: block;
	height: 4px;
	left: 0;
	position: absolute;
	transition: top 0.3s linear 0s, left 0.3s linear 0s, transform 0.3s linear 0s, opacity 0.3s linear 0s;
	width: 100%;
	z-index: 1;
}

.p-header-burger__line:nth-child(1) {
	top: 0;
}

.p-header-burger__line:nth-child(2) {
	top: 50%;
}

.p-header-burger__line:nth-child(3) {
	top: 100%;
}

.add-active .p-header-burger__line:nth-child(1) {
	top: 10px;
	transform: rotate(-45deg);
}

.add-active .p-header-burger__line:nth-child(2) {
	left: 100%;
	opacity: 0;
}

.add-active .p-header-burger__line:nth-child(3) {
	top: 10px;
	transform: rotate(45deg);
}

.p-mv {
	margin-top: 80px;
}

.p-mv__inner {
	padding-inline: 40px;
	position: relative;
	width: min(100%, 1040px);
}

.p-mv__image {
	background: transparent url(../img/mv.jpg) no-repeat center center/cover;
	margin-top: 50px;
	padding-top: 86.6666666667%;
}

.p-mv__image img {
	width: 100%;
}

.p-mv__ttl {
	background-color: #fff;
	font-size: 24px;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.5;
}

.p-profile__wrapper {
	align-items: center;
	display: grid;
	justify-items: center;
	margin-top: 30px;
	width: min(100%, 840px);
}

.p-profile__icon {
	aspect-ratio: 1;
	border-radius: 99px;
	margin-inline: auto;
	overflow: hidden;
	width: 150px;
}

.p-profile__icon img {
	height: auto;
	width: 100%;
}

.p-profile__spacer {
	margin-top: 20px;
}

.p-profile__text-wrapper {
	margin-top: 20px;
}

.p-profile__name {
	font-size: 20px;
	font-size: 1.25rem;
	line-height: 1.5;
	text-align: center;
}

.p-profile__link-wrapper {
	align-items: center;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-items: center;
	margin-top: 10px;
}

.p-profile__link {
	align-items: center;
	display: flex;
}

.p-profile__web-icon {
	margin-right: 10px;
}

.p-profile__web-icon path {
	fill: #337AB7;
}

.p-profile__account {
	font-size: 14px;
	font-size: 0.875rem;
	line-height: 1.5;
}

.p-profile__text {
	margin-top: 20px;
}

.p-profile__label {
	font-weight: 700;
}

.p-profile__list-item {
	padding-inline-start: 1.2em;
	position: relative;
}

.p-profile__list-item::before {
	content: "・";
	left: 0;
	position: absolute;
	top: 0;
}

.p-skills {
	margin-top: 112px;
}

.p-skills__inner {
	background-color: #F9FCFF;
}

.p-skills__wrapper {
	display: grid;
	gap: 30px 35px;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	margin-top: 30px;
}

.p-skills__item {
	text-align: center;
}

.p-skills__label {
	margin-top: 8px;
}

.p-skills__text {
	font-size: 14px;
	font-size: 0.875rem;
	letter-spacing: -0.08em;
	margin-top: 8px;
}

.p-works__inner {
	padding-inline: 13px;
}

.p-works__swiper {
	background: #CCA365;
	border-radius: 0 10px 10px 0;
	margin-top: 30px;
	width: min(100%, 1000px);
}

.p-works__swiper::after {
	background: transparent url(../img/deco-ring.svg) repeat-y top center/contain;
	content: "";
	height: 95%;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 3%;
}

.p-works__wrapper {
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	overflow: hidden;
	position: relative;
	width: calc(100% - 40px);
}

.p-works__item {
	align-items: center;
	background-color: #FDFDFD;
	border-radius: 10px;
	color: #1e1e1e;
	display: grid;
	justify-items: center;
	overflow: hidden;
	padding-block: 15px 30px;
	padding-inline: 15px;
	row-gap: 20px;
	width: calc(100vw - 25px - 40px - 30px);
}

.p-works__img {
	aspect-ratio: 1.25;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	text-align: center;
	width: max(40%, 200px);
}

.p-works__img img {
	-o-object-fit: cover;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.p-works__text {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.p-works__item-title {
	line-height: 1.485;
	position: relative;
	text-align: center;
	width: 100%;
}

.p-works__item-title::after {
	background: #464646;
	bottom: -1px;
	content: "";
	height: 1px;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	width: 200px;
}

.p-works__item-category-wrapper {
	display: inline-flex;
	flex-wrap: wrap;
	gap: 0.5714285714em 0.94em;
	justify-content: flex-start;
	width: 72%;
}

.p-works__item-category {
	background-color: #FBFBFB;
	border: 1px solid #464646;
	color: #464646;
	display: inline-block;
	font-size: 14px;
	font-size: 0.875rem;
	line-height: 1.485;
	padding: 0.142857em 0.33em 0.142857em 0.82em;
	position: relative;
}

.p-works__item-category::before {
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 9px;
}

.p-works__item-category:nth-child(5n+1)::before {
	background-color: #A7D2ED;
}

.p-works__item-category:nth-child(5n+2)::before {
	background-color: #7FBDE4;
}

.p-works__item-category:nth-child(5n+3)::before {
	background-color: #57A5D4;
}

.p-works__item-category:nth-child(5n+4)::before {
	background-color: #5093C1;
}

.p-works__item-category:nth-child(5n+5)::before {
	background-color: #5179A5;
}

.p-works__item-comment {
	font-size: 14px;
	font-size: 0.875rem;
	line-height: 1.485;
}

.p-works__button {
	margin-top: 40px;
}

.p-works__link {
	display: block;
	margin-inline: auto;
	text-align: center;
	width: 14.375em;
}

.p-works__link::before {
	border-color: transparent transparent #337ab7 transparent;
	border-style: solid;
	border-width: 0 23.44px 12px 0px;
	bottom: 0;
	content: "";
	height: 0;
	position: absolute;
	right: 0;
	transition: right 0.3s linear 0s;
	width: 0;
}

.p-works__link:hover::before {
	right: -10px;
}

.p-check__nav {
	align-items: flex-end;
	border-width: 2px;
	display: flex;
	height: 66px;
	justify-content: start;
	list-style: none;
	margin: 0;
	margin-top: 35px;
	overflow: auto;
	padding: 0;
}

.p-check__nav-item {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	border-bottom: none;
	cursor: pointer;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	max-width: 100%;
	padding: 0.714286em 2em 0.714286em 0.5em;
	position: relative;
	text-decoration: none;
	transition: width 0.3s ease 0s;
}

.p-check__nav-item + .p-check__nav-item {
	margin-left: 5px;
}

.p-check__nav-item::after {
	border-color: #9BADF3;
	border-style: solid;
	border-width: 4px 4px 0 4px;
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transform: scaleY(1.2) perspective(0.6em) rotateX(2.5deg);
	transform-origin: bottom left; /*背景色のアニメーション*/
	transition: background-color 0.3s linear 0s;
	z-index: -1;
}

.p-check__nav-item.is-active {
	color: #fff;
}

.p-check__nav-item.is-active::after {
	background-color: #9BADF3;
}

.p-check__nav-item:hover {
	color: #fff;
}

.p-check__nav-item:hover::after {
	background-color: #9BADF3;
}

.p-check__content {
	border: 3px solid #9badf3;
	height: -moz-fit-content;
	height: fit-content;
}

.p-check__body {
	animation-duration: 2s;
	animation-fill-mode: forwards; /*ふわっと表示させるためのアニメーション*/
	animation-name: displayAnime;
	display: none;
	padding: 38px 17px 50px;
	position: relative; /*ふわっと表示させるためのアニメーション*/
}

.p-check__body.is-active {
	display: block;
}

.p-check-flow__item {
	align-items: center;
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
}

.p-check-flow__item + .p-check-flow__item {
	margin-top: 50px;
}

.p-check-flow__img {
	grid-column: 1/2;
	grid-row: 1/5;
}

.p-check-flow__img img {
	height: auto;
	width: 100%;
}

.p-check-flow__num {
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: 700;
	grid-column: 2/3;
	grid-row: 2/3;
	line-height: 1.485;
	margin-inline-end: auto;
	text-align: left;
}

.p-check-flow__title {
	grid-column: 2/3;
	grid-row: 3/4;
	line-height: 1.485;
	margin-inline-end: auto;
	text-align: left;
}

.p-check-flow__text {
	font-size: 14px;
	font-size: 0.875rem;
	grid-column: 1/3;
	grid-row: 5/6;
	margin-top: 20px;
}

.p-check-flow__link {
	color: #FF739E;
}

.p-check-price__textItem {
	font-size: 14px;
	font-size: 0.875rem;
	padding-inline-start: 1em;
	position: relative;
}

.p-check-price__textItem + .p-check-price__textItem {
	margin-top: 5px;
}

.p-check-price__textItem::before {
	content: "・";
	left: 0;
	position: absolute;
}

.p-check-price__detailItem {
	padding-inline-start: 1em;
	position: relative;
}

.p-check-price__detailItem::before {
	color: #33C0ff;
	content: "・";
	left: 0;
	position: absolute;
}

.p-check-price__wrapper {
	margin-inline: auto;
	margin-top: 40px;
	width: min(600px, 100%);
}

.p-check-price__label {
	background-color: #A7D2ED;
	border-radius: 10px;
	color: #fff;
	line-height: 1.485;
	margin-block-end: 30px;
	margin-inline: auto;
	padding: 0.5em;
	width: -moz-fit-content;
	width: fit-content;
}

.p-check-price__item {
	align-items: center;
	border-bottom: 1px solid #5093C1;
	display: flex;
	font-size: 14px;
	font-size: 0.875rem;
	justify-content: space-between;
	line-height: 1.485;
	padding: 0 1.5em 0.75em;
}

.p-check-price__item + .p-check-price__item {
	margin-top: 10px;
}

.p-check-promise__item + .p-check-promise__item {
	margin-top: 50px;
}

.p-check-promise__label {
	margin-inline: auto;
	position: relative;
	width: -moz-fit-content;
	width: fit-content;
}

.p-check-promise__label::after {
	background-color: #337AB7;
	bottom: 0;
	content: "";
	height: 3px;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	width: calc(100% + 44px);
}

.p-check-promise__text {
	font-size: 14px;
	font-size: 0.875rem;
	line-height: 1.485;
	margin-top: 20px;
}

.p-check-promise__listItem {
	padding-inline-start: 1em;
	position: relative;
}

.p-check-promise__listItem + .p-check-promise__listItem {
	margin-top: 5px;
}

.p-check-promise__listItem::before {
	content: "・";
	left: 0;
	position: absolute;
}

.p-check-promise__spacer {
	margin-top: 5px;
}

.p-contact__decoTop {
	position: relative;
}

.p-contact__decoTop::before {
	aspect-ratio: 0.1942257218;
	background: url(../img/picture-jelly-fish-sp.png) no-repeat center center/contain;
	content: "";
	height: auto;
	left: 0;
	position: absolute;
	top: -90px;
	width: 74px;
}

.p-contact__inner {
	background: skyblue;
	background: #F9FCFF;
	padding-bottom: 72px;
	width: 100%;
}

.p-contact__textArea {
	line-height: 1.485;
	margin-inline: auto;
	margin-top: 40px;
	max-width: 100%;
	text-align: center;
}

.p-contact__text {
	margin-top: 30px;
}

.p-contact__button {
	margin-top: 40px;
	text-align: center;
}

.p-contact__link {
	border: 2px solid #337ab7;
	border-radius: 20px;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
	display: inline-block;
	padding: 0.625em 3em;
	transition: background-color 0.3s linear 0s, color 0.3s linear 0s, box-shadow 0.3s linear 0s, transform 0.3s linear 0s;
}

.p-contact__link:hover {
	background-color: #337ab7;
	box-shadow: 0 0 0;
	color: #fff;
	transform: translateY(0.25em);
}

.p-contact__decoBottom {
	position: relative;
}

.p-contact__decoBottom::before {
	background: url(../img/deco-bubble.png) no-repeat center center/contain;
	bottom: 24px;
	content: "";
	height: 147px;
	position: absolute;
	right: calc(50% - 34vw);
	transform: translateX(50%);
	width: 30.9333333333%;
}

.p-lower-top {
	background-color: #F5FAFF;
	height: 200px;
	position: relative;
	width: 100%;
}

.p-lower-top__titleWrap {
	color: #337AB7;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}

.p-lower-top__title {
	font-size: 24px;
	font-size: 1.5rem;
}

.p-works-nav {
	margin-top: 30px;
}

.p-works-nav__list {
	align-content: center;
	display: flex;
	flex-wrap: wrap;
	gap: 30px 28px;
	justify-content: center;
	margin-inline: auto;
}

.p-works-nav__item {
	background-color: #A7D2ED;
	border-radius: 20px;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	color: #fff;
	padding-block: 0.4285714286em;
	width: 7.5rem;
}

.p-works-nav__item.selected {
	background-color: #57A5D4;
}

.p-works-nav__link {
	align-items: center;
	display: flex;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 700;
	justify-content: center;
	line-height: 1.5;
}

.p-works-contents__inner {
	padding-inline: 28px;
}

.p-works-contents__wrapper {
	-moz-column-gap: 40px;
	column-gap: 40px;
	display: grid;
	grid-template-columns: repeat(auto-fit, min(320px, 100%));
	justify-content: center;
	row-gap: 40px;
}

.p-works-contents__body {
	margin-top: 8px;
}

.p-works-contents__title {
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 400;
}

.p-footer {
	background-color: #D4EAFF;
	color: #1e1e1e;
	font-family: Montserrat, serif;
	max-width: 100%;
	padding-block: 60px 18px;
}

.p-footer__inner {
	padding-inline: 0;
}

.p-footer__title {
	font-weight: 400;
}

.p-footer__nav {
	height: -moz-fit-content;
	height: fit-content;
	margin-inline: auto;
	width: -moz-fit-content;
	width: fit-content;
}

.p-footer__navList {
	align-items: center;
	display: grid;
	gap: 2.5em 18.66667vw;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	line-height: 1.5;
}

.p-footer__navItem {
	width: -moz-fit-content;
	width: fit-content;
}

.p-footer__navLink {
	color: #1e1e1e;
}

.p-footer__copyright {
	margin-top: 60px;
	text-align: center;
}

.u-hide {
	display: none;
}

.u-show--sp {
	display: block;
}

.u-hide--m {
	display: block;
}

.u-hide--l {
	display: block;
}

.u-show--m {
	display: none;
}

.u-show--tab {
	display: none;
}

.u-show--l {
	display: none;
}

.u-hide--sp {
	display: none;
}

.u-hide--pc {
	display: none;
}

.mt-40 {
	margin-top: 40px;
}

.mt-20 {
	margin-top: 20px;
}

.swiper-3d .swiper-slide-shadow {
	background: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	overflow: hidden;
	width: calc(100vw - 25px - 40px);
}

@media screen {

[hidden~=screen] {
	display: inherit;
}

[hidden~=screen]:not(:active):not(:focus):not(:target) {
	clip: rect(0 0 0 0) !important;
	position: absolute !important;
}

}

@media screen and (min-width:576px) {

.p-skills__wrapper {
	-moz-column-gap: 45px;
	column-gap: 45px;
}

.p-contact__decoTop::before {
	width: 85px;
}

.p-contact__decoBottom::before {
	right: calc(50% - 130px);
}

.u-show--sp {
	display: none;
}

.u-hide--sp {
	display: block;
}

}

@media screen and (min-width:768px) {

.l-inner {
	padding-inline: 100px;
}

.c-section-title {
	font-size: 48px;
	font-size: 3rem;
}

.c-deco__top {
	height: 10.3472222222vw;
}

.c-deco__bottom {
	height: 10.3472222222vw;
}

.p-header-nav {
	padding-block: 100px;
}

.p-header-nav__item + .p-header-nav__item {
	margin-top: 60px;
}

.p-header-nav__link {
	font-size: 20px;
	font-size: 1.25rem;
}

.p-header-nav__link--eg {
	font-size: 32px;
	font-size: 2rem;
}

.p-header-burger {
	right: 13.88889%;
}

.p-mv__image {
	background-position: top right;
	background-size: 59.8958333333%;
	max-height: 100vh;
	padding-top: 44.921875%;
}

.p-mv__ttl {
	font-size: 42px;
	font-size: 2.625rem;
	height: -moz-fit-content;
	height: fit-content;
	margin-block: 72px auto;
	position: absolute;
}

.p-works__item {
	width: calc(100vw - 200px - 40px - 30px);
}

.p-works__img {
	width: 70%;
}

.p-works__img img {
	-o-object-fit: cover;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.p-works__text {
	padding-inline: 30px;
}

.p-works__item-title {
	font-size: 18px;
	font-size: 1.125rem;
}

.p-works__item-category-wrapper {
	justify-content: center;
	width: 100%;
}

.p-check__nav-item {
	font-size: 20px;
	font-size: 1.25rem;
	padding: 0.55em 2.2em 0.55em 0.8em;
}

.p-check__nav-item + .p-check__nav-item {
	margin-left: 16px;
}

.p-check__body {
	padding: 35.6px 35px 50px;
}

.p-check-flow__item {
	-moz-column-gap: 30px;
	column-gap: 30px;
	grid-template-columns: 1fr 6fr;
}

.p-check-flow__item + .p-check-flow__item {
	position: relative;
}

.p-check-flow__item + .p-check-flow__item::after {
	background: transparent url(../img/deco-line.svg) no-repeat center center/contain;
	content: "";
	height: 36px;
	left: 58px;
	position: absolute;
	top: -52px;
	width: 4px;
}

.p-check-flow__img {
	grid-column: 1/2;
	grid-row: 2/4;
	width: 120px;
}

.p-check-flow__num {
	grid-column: 1/2;
	grid-row: 1/2;
	margin-inline: auto;
}

.p-check-flow__title {
	font-size: 20px;
	font-size: 1.25rem;
	grid-column: 2/3;
	grid-row: 2/3;
}

.p-check-flow__text {
	font-size: 16px;
	font-size: 1rem;
	grid-column: 2/3;
	grid-row: 3/4;
	margin-top: 0;
}

.p-check-price__textItem {
	font-size: 16px;
	font-size: 1rem;
}

.p-check-price__label {
	margin-inline: 0 auto;
}

.p-check-price__item {
	font-size: 16px;
	font-size: 1rem;
}

.p-check-promise__label {
	font-size: 20px;
	font-size: 1.25rem;
	margin-inline: 12px auto;
}

.p-check-promise__label::after {
	width: calc(100% + 30px);
}

.p-check-promise__text {
	font-size: 16px;
	font-size: 1rem;
}

.p-contact__decoTop::before {
	aspect-ratio: 0.7376470588;
	background-image: url(../img/picture-jelly-fish1.png);
	height: auto;
	top: 0;
	width: 26.125%;
}

.p-contact__inner {
	padding-bottom: 100px;
}

.p-contact__textArea {
	margin-top: 50px;
}

.p-contact__decoBottom::before {
	aspect-ratio: 0.7376470588;
	background-image: url(../img/picture-jelly-fish2.png);
	bottom: -50px;
	height: auto;
	right: 0;
	transform: translateX(0);
	width: 28.9763888889%;
}

.p-works-contents__inner {
	padding-inline: 40px;
}

.p-footer__navList {
	gap: 0 2.5em;
	grid-template-columns: repeat(6, 1fr);
}

.u-hide--m {
	display: none;
}

.u-show--m {
	display: inline;
}

.u-show--tab {
	display: block;
}

.swiper-3d .swiper-slide-shadow {
	width: calc(100vw - 200px - 40px);
}

}

@media screen and (min-width:992px) {

.c-section-title {
	font-size: 64px;
	font-size: 4rem;
}

.p-header-nav {
	padding-block: 28px;
	padding-inline: 40px;
}

.p-header-nav__list {
	text-align: left;
}

.p-header-nav__item + .p-header-nav__item {
	margin-top: 16px;
}

.p-header-nav__link--eg {
	display: inline-block;
	font-size: 48px;
	font-size: 3rem;
	line-height: 2;
	margin-right: 40px;
}

.p-mv__ttl {
	font-size: 48px;
	font-size: 3rem;
	line-height: 1.5;
}

.p-profile__wrapper {
	grid-template-columns: 1fr 250px;
	justify-items: start;
	margin-inline: auto;
	margin-top: 50px;
}

.p-profile__icon {
	grid-column: 2/3;
	grid-row: 1/4;
	width: 100%;
}

.p-profile__name {
	grid-column: 1/2;
	grid-row: 1/2;
}

.p-profile__link-wrapper {
	grid-column: 1/2;
	grid-row: 3/4;
	margin-top: 40px;
}

.p-profile__text {
	grid-column: 1/2;
	grid-row: 2/3;
}

.p-skills__wrapper {
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.p-skills__label {
	font-size: 20px;
	font-size: 1.25rem;
	margin-top: 16px;
}

.p-skills__text {
	font-size: 16px;
	font-size: 1rem;
	letter-spacing: 0.003em;
	margin-top: 16px;
}

.p-works__swiper {
	border-radius: 10px;
}

.p-works__swiper::after {
	background: transparent url(../img/deco-ring-pc.svg) repeat-y top center/contain;
	height: 88%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 3%;
	z-index: 1;
}

.p-works__wrapper {
	border-radius: 10px;
}

.p-works__item {
	-moz-column-gap: 40px;
	align-content: center;
	column-gap: 40px;
	grid-template-columns: repeat(2, 1fr);
	padding-block: 48px 64px;
	row-gap: 0;
}

.p-works__img {
	aspect-ratio: 1.25;
	grid-column: 1/2;
	grid-row: 1/2;
	width: min(100%, 440px);
}

.p-works__item-title::after {
	width: 100%;
}

.p-works__item-category-wrapper {
	gap: 1em 1.5em;
	justify-content: flex-start;
}

.p-works__item-category {
	font-size: 16px;
	font-size: 1rem;
	padding: 0.25em 0.75em 0.25em 1.3125em;
}

.p-works__item-comment {
	font-size: 16px;
	font-size: 1rem;
}

.p-check-flow__item {
	justify-items: left;
}

.p-check-flow__text {
	margin-block-end: auto;
}

.p-check-price__label {
	margin-block-end: 32px;
}

.p-check-price__item {
	padding: 0 5.0625em 0.625em 1.9375em;
}

.p-contact__decoTop::before {
	top: -70px;
}

.p-contact__decoBottom::before {
	bottom: -100px;
}

.u-hide--l {
	display: none;
}

.u-show--l {
	display: block;
}

}

@media screen and (min-width:1040px) {

.l-inner {
	margin-inline: auto;
	padding-inline: 0;
}

.l-profile {
	margin-top: 100px;
}

.l-works {
	margin-top: 100px;
}

.l-check {
	margin-top: 194px;
}

.l-contact {
	margin-top: 150px;
}

.p-mv__inner {
	padding-inline: 0;
}

.p-skills__wrapper {
	gap: 50px 40px;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	margin-top: 50px;
}

.p-works__item {
	padding-inline: 0;
	width: calc(100% - 40px);
}

.p-works__text {
	padding-inline: 78px 62px;
}

.p-works__item-category-wrapper {
	gap: 1.25em 2em;
}

.p-works__item-category {
	padding: 0.25em 1.3em 0.25em 1.7625em;
}

.p-check-flow {
	padding: 2.225rem 3.5rem 5.6875rem;
}

.p-check-flow__item + .p-check-flow__item {
	margin-top: 68px;
}

.p-check-price {
	padding: 5rem 8rem 9.375rem;
}

.p-check-price__wrapper {
	margin-top: 88px;
}

.p-check-price__wrapper + .p-check-price__wrapper {
	margin-top: 80px;
}

.p-check-price__item + .p-check-price__item {
	margin-top: 32px;
}

.p-check-promise {
	padding: 5rem 10rem 9.375rem;
}

.p-lower-top__title {
	font-size: 64px;
	font-size: 4rem;
}

.p-works-contents__wrapper {
	row-gap: 80px;
}

.p-footer__inner {
	align-items: start;
	display: flex;
	justify-content: space-between;
}

.p-footer__nav {
	margin-inline: 0;
}

.u-hide--pc {
	display: none;
}

.u-hide--pc {
	display: block;
}

}

@keyframes displayAnime {

0% {
	opacity: 0;
}

100% {
	opacity: 1;
}

}

