@use "../global/" as *;
@use "sass:math";
@use "sass:map";

.p-achieve-description {
  margin-block-start: 40px;
}

.p-achieve-description__title {
  text-align: center;
  font-weight: 400;

  @include mq(xl){
    @include font(24);
  }
}