@use "../global/" as *;
@use "sass:math";
@use "sass:map";

.p-contact {
  background: map.get($color, main);
}

.p-contact__decoTop {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background: url(../img/picture-jelly-fish-sp.png) no-repeat center center /contain;
    top: -90px;
    left: 0;
    width: 74px;
    height: auto;
    aspect-ratio: 74 / 381;

    @include mq(s) {
      width: 85px;
    }

    @include mq(m) {
      background-image: url(../img/picture-jelly-fish1.png);
      width: math.div(376.2, 1440) * 100%;
      aspect-ratio: 376.2 / 510;
      height: auto;
      top: 0;
    }

    @include mq(l) {
      // top: 80px;
      // left: -20%;
      // left: -200px;
      top: -70px;
      max-width: 376.2px;
    }
  }
}

.p-contact__inner {
  // width: 100%;
  padding-bottom: 72px;

  @include mq(m) {
    padding-bottom: 100px;
  }
}

.p-contact__title {}

.p-contact__textArea {
  max-width: 100%;
  line-height: math.div(23.76, 16);
  margin-top: 40px;
  margin-inline: auto;
  text-align: center;

  @include mq(m) {
    margin-top: 50px;
  }
}

.p-contact__lead {}

.p-contact__text {
  margin-top: 30px;
}

.p-contact__button {
  margin-top: 40px;
  text-align: center;
}

.p-contact__decoBottom {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background: url(../img/deco-bubble.png) no-repeat center center /contain;
    bottom: 24px;

    right: calc(50% - 34vw);
    transform: translateX(50%);
    width: math.div(116,375) * 100%;
    height: 147px;
    @include mq(s){
      right: calc(50% - 130px);
    }

    @include mq(m) {
      background-image: url(../img/picture-jelly-fish2.png);
      width: math.div(417.26, 1440) * 100%;
      aspect-ratio: 376.2 / 510;
      height: auto;
      bottom: -50px;
      right: 0;
      transform: translateX(0);
    }

    @include mq(l) {
      bottom: -180px;
      // right: -17.59259%;
      // right: -190px;
      bottom: -100px;
      max-width: 417.26px;
    }

    @include mq(xl){

    }
  }
}