@use "../global/" as *;
@use "sass:map";

.p-header-nav {
  padding-block: 50px;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  top: -40%;
  transition: top 0.3s linear, opacity 0.3s linear, visibility 0.3s linear;
  z-index: map.get($z-map, drawer);
  width: 100%;
  background-color: map.get($color, main);
  opacity: 0;
  visibility: hidden;
  height: fit-content;

  @include mq(m) {
    padding-block: 100px;
  }

  @include mq(l) {
    padding-block: 28px;
    padding-inline: 40px;
  }

  @include mq(xl) {

  }

  .add-active & {
    top: 0;
    opacity: 1;
    visibility: visible;
  }
}

.p-header-nav__inner {
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

}

.p-header-nav__list {
  text-align: center;

  @include mq(l) {
    text-align: left;
  }
}

.p-header-nav__item {

}

.p-header-nav__item {
  +.p-header-nav__item {
    margin-top: 36px;

    @include mq(m) {
      margin-top: 60px;
    }

    @include mq(l) {
      margin-top: 16px;
    }
  }
}

.p-header-nav__link {
  white-space: nowrap;
  @include font(14);

  @include mq(m) {
    @include font(20);
  }
}

.p-header-nav__link--eg {
  @include font(24);
  line-height: 1.5;
  letter-spacing: -0.04em;
  font-weight: 700;
  transition: color $ts-time linear 0s, text-shadow $ts-time linear 0s, opacity $ts-time linear 0s;
  position: relative;
  display: block;

  @include mq(m) {
    @include font(32);
  }

  @include mq(l) {
    display: inline-block;
    margin-right: 40px;
    @include font(48);
    line-height: lh(96, 48);
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scale(0, 1);
    height: 2px;
    background: map.get($color, text1st);
    transition: width $ts-time linear 0s, transform $ts-time linear 0s;
    transform-origin: left top; //アニメーションの原点を左端に設定
    width: calc(100% + 1rem * 2);

    .p-header-nav__link:hover & {
      transform: translateX(-50%) scale(1, 1);
    }
  }

  .p-header-nav__link:hover & {
    color: #fff;
    text-shadow: 1px 1px 0 map.get($color, text1st), -1px -1px 0 map.get($color, text1st),
      -1px 1px 0 map.get($color, text1st), 1px -1px 0 map.get($color, text1st),
      1px 0 0 map.get($color, text1st), -1px 0 0 map.get($color, text1st),
      0 1px 0 map.get($color, text1st), 0 -1px 0 map.get($color, text1st);
  }
}

.p-header-nav__img {
  // width: 52.83019%;
  width: fit-content;
  // flex: fit-content 1 0;
}