@use "../global/" as *;
@use "sass:math";

.p-profile {}

.p-profile__inner {}

.p-profile__title {}

.p-profile__wrapper {
  display: grid;
  justify-items: center;
  align-items: center;
  width: min(100%, 840px);
  margin-top: 30px;

  @include mq(l) {
    margin-top: 50px;
    grid-template-columns: 1fr 250px;
    margin-inline: auto;
    justify-items: start;
  }
}

.p-profile__icon {

  width: 150px;
  margin-inline: auto;
  aspect-ratio: 150 / 150;
  border-radius: 99px;
  overflow: hidden;

  @include mq(l) {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    width: 100%;

  }

  img {
    width: 100%;
    height: auto;
  }
}

.p-profile__spacer {
  margin-top: 20px;
}

.p-profile__text-wrapper {
  margin-top: 20px;

}

.p-profile__name {
  @include font(20);
  line-height: 1.5;
  text-align: center;

  @include mq(l) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

.p-profile__link-wrapper {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;

  @include mq(l) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    margin-top: 40px;

  }
}

.p-profile__link {
  display: flex;
  align-items: center;
  position: relative;

  &:hover {
    .p-profile__link--hover {
      opacity: 1;
    }

    .p-profile__web-icon,.p-profile__account  {
      opacity: 0;
    }
  }
}

.p-profile__link--hover {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: opacity $ts-time linear 0s,color $ts-time linear 0s,background-color $ts-time linear 0s;
  display: block;
	white-space: nowrap;
  background: #337ab7;
  color: #fff;
  padding: 0.2em 0.5em;

}

.p-profile__web-icon {
  margin-right: 10px;
  transition: opacity $ts-time linear 0s;

  path {
    fill: #337AB7;
    transition: fill $ts-time linear 0s;
  }
}

.p-profile__account {
  @include font(14);
  line-height: math.div(21, 14);
  font-style: normal;
  transition: opacity $ts-time linear 0s;
}

.p-profile__text {
  margin-top: 20px;

  @include mq(l) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

.p-profile__label {
  font-weight: 700;
}

.p-profile__list {}

.p-profile__list-item {
  position: relative;
  padding-inline-start: 1.2em;

  &::before {
    content: "・";
    position: absolute;
    top: 0;
    left: 0;
  }
}

.sample_link12 {
  position: relative;
  /*ボタンの形状*/
  border: 1px solid #555;
  border-radius: 25px;
  min-width: 210px;
  padding: 20px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  color: #333;
  outline: none;
  /*アニメーションの指定*/
  transition: all .2s;

  &:hover {
    background-color: #2ecc71;

    .omote {
      opacity: 0;
    }

    .ura {
      opacity: 1;
    }
  }

  span {
    /*絶対配置でテキストの位置を決める*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /*アニメーションの指定*/
    transition: all .5s;
    /*ブロック要素にしてテキスト折り返しなし*/
    display: block;
    white-space: nowrap;
  }
}

.omote {}

.ura {
  opacity: 0;
}

// .sample_link12:hover span{
//   -webkit-transform: translate3d(0, 0, -30px) rotateX(90deg);
//   transform: translate3d(0, 0, -30px) rotateX(90deg);
// }
// .sample_link12{
//   display: inline-block;
//   position: absolute;
//   left: 0;
//   top: 0;
//   content: attr(data-text);
//   color: #fff;
//   background-color: #2ecc71;
//   -webkit-transform-origin: 50% 0%;
//   transform-origin: 50% 0%;
//   -webkit-transform: translate3d(0, 105%, 0) rotateX(-90deg);
//   transform: translate3d(0, 105%, 0) rotateX(-90deg);
// }