@use "../global/" as *;
@use "sass:math";
@use "sass:map";

.p-works-description {
  margin-block-start: 40px;
}

.p-works-description__title {
text-align: center;
}

.p-works-list {

}

.p-works-list__wrapper {

}

.p-works-list__title {

}

.p-works-list__text {
  margin-inline-start: 1em;
}

