@use "../global/" as *;
@use "sass:math";
@use "sass:map";

.p-works-nav {
  margin-top: 30px;
}

.p-works-nav__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 28px;
  margin-inline: auto;
  align-content: center;
  justify-content: center;
}

.p-works-nav__item {
  color: #fff;
  box-shadow: 0 4px 4px rgba(0,0,0,0.25);
  border-radius: 20px;
  background-color: #A7D2ED;
  position: relative;
  width: 7.5rem;
  z-index: map.get($z-map,base);
  overflow: hidden;
  transition: box-shadow $ts-time linear 0s;
  
  &::before{
    content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0%;
		height: 100%;
		background-color: #57A5D4;
		transition: width $ts-time linear 0s;
		border-radius: 10rem;
		z-index: map.get($z-map,under);
  }
  @media (hover: hover) and (pointer: fine) {
    &:hover{
      &::before{
        width: 100%;
      }
    }
  }

  @media (hover:none){
    &::before{
      transition-duration: 0s;
    }
    &:active{
      opacity: 0.7;
    }
  }
  
  &.selected{
    background-color: #57A5D4;
  }
}

.p-works-nav__link {
  @include font(14);
  font-weight: 700;
  line-height: 1.5;
  padding-block: math.div(6,14) * 1em;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

