@use "../global/" as *;
@use "sass:math";
@use "sass:map";

.p-sns {
  position: fixed;
  z-index: 10;
  bottom: 0;
  right: 0;
  width: 100%;
  display: flex;
  background-color: #fff;

  @include mq() {
    flex-direction: column;
    gap: 2.06rem;
    right: 1.29rem;
    bottom: 4.5rem;
    background-color: transparent;
    width: auto;
  }
}

.p-sns__link {
  display: grid;
  position: relative;
  font-weight: 500;
  width: 50%;
  place-items: center;
  
  svg{
    width: 3rem;
    height: auto;
  }
  
  @include mq() {
    width: 3rem;
    aspect-ratio: 1;
    svg{
      width: 100%;
      height: auto;
    }
  }
}