@use "../global/" as *;
@use "sass:math";
@use "sass:map";

.p-works-table {
  border-collapse: collapse;
  @include font(14);
  margin-inline: auto;
  
  th,td{
    padding: 1em 0.5em;
    border: 1px solid #33C0FF;
    text-align: center;

    @include mq(m){
      white-space: pre-wrap;
    }
    
    @include mq(l){
      @include font(16);
    }
  }

  
}

.p-works-table__row {
  
}

.p-works-table__head {
  background-color: #F5FAFF;
}

.p-works-table__data {
}